.b {

	
	
	width: 500px;
	border:2px solid black;

	height:600px;
}
.h{

	
	background-color: #E5E8E8;
	width: 95%;
	margin-left: 2%;
}

h1{
	text-align: center;
	font-family: time new roman;
	color: #046974;
}
.data{
	border: 10 px solid black;
width: 100%;

}
h2{
	color: brown;
}