body{
	background: black;
}
.boi{
	height: 605px;
	width: 1350px;
}
.bo{
	
	height: 500px;
	width: 350px;
	position: absolute;
	top: 80px;
	left: 150px;
	text-align: center;
	background: rgba(0,0,0,.4);
}
h2{
	color: white;
	border-top: 2px solid #6A7692;
	border-bottom: 2px solid #6A7692;
}
.user{
	position: relative;
	top: 20px;
	height: 40px;
	width: 300px;
	margin-top: 20px;
	background: rgba(255,255,255,.1);
	border-style: none;
	border-radius: 5px;
}
.ub{
	position: relative;
	top: 50px;
	height: 40px;
	width: 300px;
	margin-bottom: 50px;
	background: #3CB2F1;
	border-style: none;
	border-radius: 5px;
	color: white;
	font-weight: bolder;
	cursor: pointer;
}
.go{
	position: relative;
	top: 50px;
	height: 40px;
	width: 300px;
	margin-bottom: 50px;
	background: #367AD2 ;
	border-style: none;
	border-radius: 5px;
	color: white;
	font-weight: bolder;
	cursor: pointer;
}
.goi{
	position: absolute;	
	top: 3px;
	left: 3px;
	border-radius: 5px;
	height: 35px;
	width: 40px;
	background: white;
	float: left;

}
.fb{
	position: relative;
	top: 50px;
	height: 40px;
	width: 300px;
	margin-bottom: 50px;
	background: #3C4AF1;
	border-style: none;
	border-radius: 5px;
	color: white;
	font-weight: bolder;
	cursor: pointer;
}
.foi{
	position: absolute;	
	top: 3px;
	left: 3px;
	border-radius: 5px;
	height: 35px;
	width: 40px;
	background: white;
	float: left;
	background: #3C4AF1;
}
button:hover{
	box-shadow: 2px 2px 6px white;

}
input:hover{
	background: white;
}