body{
	background: gray;
}
.boi{
	height: auto;
	width: 1350px;
	filter: contrast(60%);
	filter: brightness(40%);

}

.bo{
	
	height: 610px;
	width: 1350px;
	position: absolute;
	
}
.bl{

}
.nav{
	position: absolute;
	top: 0px;
	width: 1348px;
	height: 70px;
	background: #F152D5;
	filter: contrast(80%);

}
.nab{
	position: relative;
	bottom: 16px;
	left:350px;
	background: transparent;
	color: black;
	height: 70px;
	margin: 0px;
	border-style: none;
	
	color: white;
	font-weight: bold;
	
	width: 140px;

}
.nab:hover{
	background:pink;
	color: #DC7633;
	font-size: 18px;
	cursor: pointer;
}
.naba{
	position: relative;
	bottom: 16px;
	left:350px;
	color: #DC7633;
	background:pink;
	cursor: pointer;
	height: 70px;
	margin: 0px;
	border-style: none;
	font-weight: bold;
	width: 140px;
	font-size: 18px;
}
.cn
{
	font-weight: bold;
	font-size: 30px;
	font-family: Snap ITC;
	color:white;

}
.mc{
	position: absolute;
	padding-left: 20px;
	top: 180px;
	left: 160px;
	z-index: 5;
	width: 400px;
	height:350px;
	font-weight: bold;
	background: rgba(0,0,0,.1);
	
}
.mcp{

	font-weight: bold;
}
.sc{
	color: #F5B7B1 ;
	font-size: 16px;
}
.mh{
	font-size: 40px;
	color: yellow;

	}

.z{
	font-size: 12px;
	color: #EAEDED;
}
.but{
	border-style: none;
	background: orange;
	color: white;
	font-weight: bold;
	height: 45px;
	width: 200px;
	border-radius: 10px;
	cursor: pointer;
}
.but:hover{
	height: 48px;
	width: 205px;
}

.fo{
	position: absolute;
	top: 775px;
	width: 1336px;
	height: 200px;
	text-align: left;
	background: black;
	color: white;
}
.fo td{
	
	padding-left: 50px;
}
.fop{
	font-size: 10px;
}
.forb{ 
	position: absolute;
	bottom: 0px;
}
.pop{
	position: relative;
	
	height: 26px;
	border-style: none;
	
	width: 80px;
	background: #9E1717;
	color: white;
}
.jm{
	height: 20px;
	width: 200px;
}
