body
{
	background: url("https://media.istockphoto.com/vectors/dark-abstract-background-vector-illustration-vector-id929619614?k=6&m=929619614&s=612x612&w=0&h=eLOtWf9cUmg9HdMV4GXxT2IgagJJxN1UCqIEgI_Y6HQ=")
}
table
{
	
	column-span: none;

	width: 700px;
	
	margin-left: 280px;
	background: white;
	

}
.m th{
	background: blue;
}
a{
	
	font-size: 15px;
	color: red;
	text-decoration: none;
}
img
{
	width: 100%;
	height: 300px;

}
h4{
	text-align: right;
	background: blue;
}
.h{
	background: blue;
	font-size: 20px;
	text-align: right;
	color: hotpink;
	font-weight: bold;
}
.p{
	
}