.bo{

	border: 1px solid #808B96 ;
	height: 930px;
	width: 1150px;
	margin-left: 100px;
	margin-right: 100px;
	position: relative;
	background-color: #F7DC6F;
}

.h{
	border: 1px solid #808B96 ;
	height: 50px;
	width: 1148px;
	text-align: center;
	background: #F1C40F;
}
.pd{

	position: absolute;
	top: 90px;
	border: 1px solid #808B96 ;
	height: 200px;
	width: 1148px;
	padding-top: 10px;
	background-color: #9B59B6;
}
.ad{
	position: absolute;
	top: 334px;
	border: 1px solid #808B96;
	height: 180px;
	width: 1148px;
	padding-top: 10px;
	background-color: #AF7AC5;
}
.pf{
	position: absolute;
	top: 558px;
	border: 1px solid #808B96;
	height: 100px;
	width: 1148px;
	padding-top: 10px;
	background-color: #C39BD3;
}
.ay{
	position: absolute;
	top: 702px;
	border: 1px solid #808B96;
	height: 100px;
	width: 1148px;
	padding-top: 15px;
	background: #D7BDE2;
}
textarea
{
	height: 50px;
	width: 200px;

}
.bar{
	
	width: 200px;
}
.mb{
	float: left;
	list-style: none;

}
.lb{
	float: right;
	list-style: none;
	margin-right: 20px;

}


.ob{
	border: 1px solid #808B96;
	height: 25px;
	width: 150px;
	text-align: center;
	padding-top: 5px;

}
.ob1{
	position: absolute;
	top: 70px;
	left: 50px;
	background: white;
	z-index: 5;
}
.ob2{
	position: absolute;
	top: 317px;
	left: 50px;
	background: white;
	z-index: 5;
}
.ob3{
	position: absolute;
	top: 540px;
	left: 50px;
	background: white;
	z-index: 5;
}
.ob4{
	position: absolute;
	top: 685px;
	left: 50px;
	background: white;
	z-index: 5;
}
.g{
	position: relative;
	top: 10px;
}
button{
	position: absolute;
	bottom: 20px;
	left: 400px;
	height: 50px;
	width: 200px;
	border: none;
	background-color: #5B2C6F; 
}