body{
	background: #F0F3F4;
}
aside{
	position: relative;
	border: 1px solid black;
	height: 600px;
	width: 200px;
	border-radius: 20px;
	text-align: center;
}
.si{
	height: 600px;
	width: 200px;
	border-radius: 20px;
}
.lo{
	position: absolute;
	top: -20px;
	left: 70px;
	text-align: center;
	color: white;
}
.l{
	
	font-size: 70px;
	color: white;
}
.su{
	position: absolute;
	top: 130px;
	list-style-type: none;
}
.sb{
	background: transparent;
	border-style: none;
	color: white;
	font-weight: bold;
	width: 180px;
	height: 45px;
	border-radius: 40px;
	cursor: pointer;
	text-align: left;
}

.sb:hover{
	background: #F0F3F4;
	border-style: none;
	color: black;
	width: 180px;
	height: 45px;
	border-radius: 40px;
	font-size: 15px;
	font-weight: bold;
}