body{
	background: gray;
}
.boi{
	height: auto;
	width: 1350px;
	filter: contrast(60%);
	filter: brightness(40%);

}
.bo{
	
	height: auto;
	width: 1350px;
	position: absolute;
}
.nav{
	position: absolute;
	top: 0px;
	width: 1348px;
	height: 70px;
	background: #F152D5;
	filter: contrast(80%);

}
.nab{
	position: relative;
	bottom: 16px;
	left:350px;
	background: transparent;
	color: black;
	height: 70px;
	margin: 0px;
	border-style: none;
	
	color: white;
	font-weight: bold;
	
	width: 140px;

}
.nab:hover{
	background:pink;
	color: #DC7633;
	font-size: 18px;
	cursor: pointer;
}
.nab:visted{
	background:pink;
	color: red;
	font-size: 18px;
	cursor: pointer;
}
.naba{
	position: relative;
	bottom: 16px;
	left:350px;
	color: #DC7633;
	background:pink;
	cursor: pointer;
	height: 70px;
	margin: 0px;
	border-style: none;
	font-weight: bold;
	width: 140px;
	font-size: 18px;
}
.cn
{
	font-weight: bold;
	font-size: 30px;
	font-family: Snap ITC;
	color:white;

}
.mc{
	position: absolute;
	padding-left: 20px;
	top: 180px;
	left: 160px;

	width: 400px;
	height:350px;
	font-weight: bold;
	background: rgba(0,0,0,.1);
	
}
.mcp{

	font-weight: bold;
}
select{
	border: 0px;
	outline: 0px;
	background: transparent;
	cursor: progress;

}
.sb{
	position: absolute;
	top: 150px;
	left: 10px;
	padding-left: 10px;
	width: 180px;
	height: 723px;
	background: rgba(255,255,255);
}
ul{
	list-style: none;
	opacity: .7;
}
li{
	margin: 4px;
}
.hd{
	position: absolute;
	top: 80px;
	padding-left: 10px;
	height: 30px;
	width: 1330px;
	background: hotpink;
}
.se{
	height: 25px;	
	width: 183px;
	border-radius: 10px;
	border-style: none;
}
.ab{
	border-style: none;
	background: #F856A9;
	height: 25px;
	border-radius: 20px;
	padding: 5px;
	margin-left: 10px;
	color: white;
	cursor: pointer;
}
.im2{
	position: absolute;
	top: 200px;
	left: 300px; 
	padding: 10px;
	background: white;
	 box-shadow: 0 14px 18px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
	}
img{
	height: 250px;
	width: 200px;
	
}