body{
	background-image: url(new.jpg);
}
.a{
	color: white;
}
.ah{
	color: orange;
	font-size: 35px;
}
.am
{
	color: white;
}
.ap
{
	background-color: orange;
	border: none;
}
.ch
{
	color: white;
	font-size: 35px;

}
.c{

	
	text-align: center;
	margin-top: 80px;
}
.d{


	text-align: center;
	margin-top: 110px;
	
}
.e{
	text-align: center;
	margin-top: 110px;

}