body{
	background: #574044;
}
.bo{
	position: relative;
	
	height: 630px;
	width: 1150px;
	filter: contrast(80%);
	filter: brightness(40%);
}
img{
	position: absolute;
	height: 640px;
	width: 1350px;
}
.ne{
	position: absolute;
	top: 10px;
	left: 150px;
}
.styt{
	color: white;
	font-weight: bold;
	font-size: 15px;
}
select{
	background: transparent;
	outline: none;
	border-style: none;
}
option{
	color: #F3254C;
}
.lo{
	color: #F06881;
	font-weight: bold;
	font-family:Forte;
	font-size: 30px;
}
.si{
	background: transparent;
	border-style: none;
	height: 30px;
	width: 120px;
	color: white;
	font-weight: bold;
	border-radius: 20px;
}
.su{
	background:#F06881;
	border-style: none; 
	height: 30px;
	width: 120px;
	color: white;
	font-weight: bold;
	border-radius: 20px;
}
.con{
	position: absolute;
	top: 200px;
	left: 200px;
	
	color: white;
	height: 300px;
	width: 900px;
	text-align: center;
}
.conp{
	font-size: 20px;
}
.cp{
	font-size: 50px;
}
input{
	height: 45px;
	width: 300px;
	border-radius: 20px;
	border-style: none;
}
.sub{
	height: 45px;
	width: 250px;
	border-radius: 20px;
	border-style: none;
	color: white;
	background: #F3254C ;
	font-weight: bold;
}