.bo{
	position: absolute;
	height: 610px;
	width: 1350px;
}
div{
	position: relative;
	top: 70px;
	left: 650px;
	height: 300px;
	width: 450px;
	background: rgba(0 ,0 ,0 ,.1);
	

}
#A{
	position: absolute;
	width: 100px;
	height: 35px;
	top: 90px;
	left: 70px;
	border-radius: 5px;

}
#z{
	position: absolute;

	background: white;
	width: 90px;
	height: 22px;
	top: 76px;
	left: 270px;
	border-radius: 5px;
	padding-left: 10px;
	padding-top: 10px;

}
.fl{
	position: absolute;
	right: 10px;
	top: 4px;
	width: 30px;
	height: 25px;
	
}
#B{
	position: absolute;
	top: 180px;
	left: 70px;
	width: 100px;
	height: 35px;
	border-radius: 5px;
	border-style: none;	
	text-align: center;
}
#amo{
	position: absolute;
	top: 165px;
	left: 270px;
	width: 100px;
	height: 25px;
	border-radius: 5px;
	padding-left: 10px;
	padding-top: 10px;
	background: white;
	text-align: center;
}